<mat-toolbar class="menu" color="primary">
  <span style="margin-right: 20px">MB</span>
  <button mat-button *ngIf="!isLoggedIn()" routerLinkActive="active" routerLink='/login'>{{'navbar.login' |
    translate}}
  </button>
  <button mat-button *ngIf="isLoggedIn()" routerLinkActive="active" routerLink='/profile'>{{'navbar.profile' |
    translate}}
  </button>
  <button mat-button *ngIf="isLoggedIn()&&hasPermission('USER_MANAGEMENT')" routerLinkActive="active"
          routerLink='/manage-all-users'>{{'navbar.manageAllUsers' | translate}}
  </button>
  <button mat-button *ngIf="isLoggedIn()&&hasPermission('SKILL_MANAGEMENT')" routerLinkActive="active"
          routerLink='/manage-skills'>{{'navbar.manageSkills' | translate}}
  </button>
  <button mat-button *ngIf="isLoggedIn()&&hasPermission('PROFILE_HANDLING')" routerLinkActive="active"
          routerLink='/superior-view'>{{'navbar.superiorProfileView' | translate}}
  </button>
  <div class="align-right">
    <div class="language">
    <app-translate-content></app-translate-content>
    </div>
    <button mat-button *ngIf="isLoggedIn()&&hasPermission('PROFILE_REVIEW')"
            routerLinkActive="active"
            routerLink='/notifications'
    >
      <mat-icon matBadge="{{this.unread}}" [matBadgeHidden]="this.unread<=0" matBadgeColor="warn">notifications
      </mat-icon>
    </button>


    <button (click)="logout()" *ngIf="isLoggedIn()" mat-button>{{'navbar.logout' | translate}}</button>
  </div>

</mat-toolbar>
