.page-contnet {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  .filter-controls {
    width: 30%;

  }
  .profiles {
    width: 65%;
  }
}

.profiles {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  .single-profile {
    width: 46%;
    text-align: center;

    margin: 20px 0;
  }
}
