<div class="page-contnet">
  <div class="profiles">
    <div class="single-profile" *ngFor="let profile of profiles ">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{profile.firstName+" "+profile.lastName}}</mat-card-title>
          <mat-card-subtitle>Job title</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p> Something</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>View Profile</button>
          <button mat-button>Export profile to PDF</button>

        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <mat-paginator
    [length]="resultAmount"
    [pageSize]="4"
    [pageSizeOptions]="pageSizeOptions"
    (page)="switchPage($event,this.pageIndex,this.pageSize,[],[],[]);"
  >
  </mat-paginator>
</div>
