<div class="page-contnet">
  <div class="filter-controls">
    <h2 class="mat-form-field">Filter</h2>
    <form [formGroup]="form" class="filter-form">
      <mat-form-field>
        <input (ngModelChange)="filterChanged('firstName', firstNameControl.value)" [formControl]="firstNameControl"
               matInput placeholder="First name"
               type="text">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input (ngModelChange)="filterChanged('lastName', lastNameControl.value)" [formControl]="lastNameControl"
               matInput placeholder="Last Name"
               type="text">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input (ngModelChange)="filterChanged('email', emailControl.value)" [formControl]="emailControl" matInput
               placeholder="Email"
               type="email">
      </mat-form-field>
      <mat-form-field>
        <input (ngModelChange)="filterChanged('jobTitle', jobTitleControl.value)" [formControl]="jobTitleControl"
               matInput placeholder="Job Title"
               type="jobTitle">
      </mat-form-field>

      <mat-expansion-panel *ngFor="let key of keys()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{key}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">

          <mat-list-item *ngFor="let skill of this.skillEntries[key]" role="listitem">
            <div class="single-skill">
              <div class="skill-name">
                <mat-checkbox (change)="skillFilterChanged(skill.id)" color="primary">{{skill.name}}</mat-checkbox>
              </div>

            </div>
          </mat-list-item>
        </mat-list>

      </mat-expansion-panel>
    </form>
  </div>

  <div class="profiles">
    <div class="single-profile" *ngFor="let profile of profiles ">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar><img *ngIf="profile.photo!=null && profile.photo!=''" mat-card-avatar
                                    src="{{profile.photo}}">
            <img mat-card-avatar
                 src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                 *ngIf="profile.photo===undefined || profile.photo==''">
          </div>
          <mat-card-title>{{profile?.firstName+" "+profile?.lastName}}</mat-card-title>
          <mat-card-subtitle>{{profile?.jobTitle?.name}}</mat-card-subtitle>
          <mat-card-subtitle>{{profile?.region?.name}}</mat-card-subtitle>

        </mat-card-header>
        <mat-card-content>
          <p>
            <mat-card-content>
              {{profile?.email}}
            </mat-card-content>
          </p>
        </mat-card-content>
        <mat-card-actions>

          <button (click)="showProfile(profile)" color="primary" mat-raised-button>View Profile</button>
          <button (click)="exportPdf(profile?.email)" color="primary" mat-raised-button>Export profile to PDF</button>

        </mat-card-actions>
      </mat-card>
    </div>

    <mat-paginator
      [length]="resultAmount"
      [pageSize]="4"
      [pageSizeOptions]="pageSizeOptions"
      (page)="switchPage($event,this.pageIndex,this.pageSize,[],[],[]);"
    >
    </mat-paginator>
  </div>
</div>
