<div class="page-contnet">
  <div class="filter-controls">
    <h2>Filter</h2>
    <form class="filter-form">
      <mat-form-field>
        <input type="text" matInput placeholder="First name">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="text" matInput placeholder="Last Name">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="email" matInput placeholder="Email">
      </mat-form-field>
    </form>

    <button mat-button>Filter</button>
  </div>

  <div class="profiles">
    <div class="single-profile" *ngFor="let profile of profiles ">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar><img *ngIf="profile.photo!=null && profile.photo!=''" mat-card-avatar
                                    src="{{profile.photo}}">
            <img mat-card-avatar
                 src="http://chittagongit.com//images/no-profile-picture-icon/no-profile-picture-icon-14.jpg"
                 *ngIf="profile.photo===undefined || profile.photo==''">
          </div>
          <mat-card-title>{{profile?.firstName+" "+profile?.lastName}}</mat-card-title>
          <mat-card-subtitle>{{profile?.jobTitle?.name}}</mat-card-subtitle>
          <mat-card-subtitle>{{profile?.region?.name}}</mat-card-subtitle>

        </mat-card-header>
        <mat-card-content>
          <p>
            <mat-card-content>
              Some content
            </mat-card-content>
          </p>
        </mat-card-content>
        <mat-card-actions>

          <button (click)="showProfile(profile)" color="primary" mat-raised-button>View Profile</button>
          <button (click)="exportPdf(profile?.email)" color="primary" mat-raised-button>Export profile to PDF</button>

        </mat-card-actions>
      </mat-card>
    </div>

    <mat-paginator
      [length]="resultAmount"
      [pageSize]="4"
      [pageSizeOptions]="pageSizeOptions"
      (page)="switchPage($event,this.pageIndex,this.pageSize,[],[],[]);"
    >
    </mat-paginator>
  </div>
</div>
