.page-contnet {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  .filter-controls {
    width: 20%;

  }
  .profiles {
    width: 75%;
  }
}

.profiles {
  width: 65%;
  min-width: 400px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  .single-profile {
    width: 46%;
    text-align: center;
    .mat-card {
      height: 200px;
    }

    margin: 20px 0;
  }
}

.mat-paginator {
  width: 100%;
}

.filter-skill {
  width: 180px;
}
