<div class="popup-content">
  <form
    (ngSubmit)="submitAddSkill()"
    #registerForm="ngForm"
    #formElement
  >
    <h3>{{'addSkill.add' | translate}}</h3> <br>
    <mat-form-field>
      <input
        type="text"
        autocomplete="off"
        #skillAreaNameElement
        name="skillName"
        matInput
        [(ngModel)]="formData.name"
        required
        placeholder="{{'addSkill.skillNamePlaceholder' | translate}}">
    </mat-form-field>
    <br>

    <br>


    <button type="submit" mat-button>{{'addSkill.submit' | translate}}</button>
  </form>
</div>
