<div class="notification-content">
  <div *ngIf="notificationData.length===0" class="no-notif font-apply">
    You have no new notifications! :)
  </div>

  <mat-card *ngFor="let notification of notificationData" [class.unread]="!notification.isRead" class="example-card">
    <mat-card-header>
      <!--<div mat-card-avatar class="example-header-image"></div>-->
      <button (click)="markNotification(notification)" mat-button>
        <i *ngIf="!notification.isRead" class="material-icons" style="color:#3f51b5">error</i>
        <mat-card-content *ngIf="!notification.isRead">Unread</mat-card-content>
        <i *ngIf="notification.isRead" class="material-icons" style="color:green">done</i>
        <mat-card-content *ngIf="notification.isRead">Read</mat-card-content>
      </button>
      <mat-card-title>{{notification.title}}</mat-card-title>
      <mat-card-subtitle>{{notification.message}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Email: {{notification.userMail}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="showProfile(notification)" mat-button>Review</button>
      <button (click)="accept(notification)" mat-button>Accept</button>
      <button (click)="decline(notification)" mat-button>Decline</button>
    </mat-card-actions>
  </mat-card>

</div>
