.notification-content {
  max-width: 500px;
  margin: 30px auto;
  .mat-card {
    margin: 40px 0;

  }

  .unread {
    background: #3F51B507;
  }
}

.no-notif {
  text-align: center;
  margin: 40px auto;
}

.font-apply {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
