<h3 class="mat-form-field">{{'updateUser.update' | translate}}</h3>
<mat-tab-group>
  <mat-tab label="{{'updateUser.updateUserInfo' | translate}}">
    <div class="update-user-form">


      <form (ngSubmit)="submitUpdate()" #updateForm="ngForm" #formElement>


        <br>
        <mat-form-field>
          <input type="password"
                 #passwordElement
                 name="password"
                 matInput
                 [(ngModel)]="data.password"
                 [formControl]="passwordFormControl"
                 [errorStateMatcher]="matcher"
                 placeholder="{{'updateUser.password' | translate}}">

          <mat-error *ngIf="passwordFormControl.hasError('passwordInvalid')">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>

        <br>
        <button type="submit" mat-button>{{'updateUser.submit' | translate}}</button>

      </form>
      <!--<div class="form-info">

        {{'userManagementErrorMsg.updateUserNoChange'| translate}}.<br>
        {{'userManagementErrorMsg.passwordRequirements'| translate}}.:
        <ul>
          <li>{{'userManagementErrorMsg.passwordReqLength'| translate}}.</li>
          <li>{{'userManagementErrorMsg.passwordReqLetters'| translate}}.</li>
          <li>{{'userManagementErrorMsg.passwordReqSpecial'| translate}}.</li>
          <li>{{'userManagementErrorMsg.passwordReqDigit'| translate}}.</li>
        </ul>
        {{'userManagementErrorMsg.emailRequirement'| translate}}.
      </div>-->
    </div>
  </mat-tab>
  <mat-tab label="{{'updateUser.editRoles' | translate}}">

    <mat-list *ngFor="let element of this.userRoles">
      <mat-list-item>{{element.type}}</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>

    <br>
    <mat-form-field>
      <mat-select [(value)]="selectedrole"

      >
        <div *ngFor="let element of this.allRoles" class="options">
          <mat-option
            value={{element.type}}
          >{{element.type}}
          </mat-option>
        </div>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button
            color="primary"
            style="margin:0 10px;"
            (click)="addRoleToUser()
"
    >{{'updateUser.addRole' | translate}}
    </button>
    <button mat-raised-button
            color="warn"
            style="margin:0 10px;"
            (click)="removeRoleFromUser()"
    >{{'updateUser.revokeRole' | translate}}
    </button>

  </mat-tab>
  <mat-tab label="Edit Supervisor">
    <form (ngSubmit)="setSupervisor()">
      <mat-form-field>
        <mat-select placeholder="{{data.supervisorEmail}}" [formControl]="supervisorControl"
                    [(ngModel)]="data.supervisor">
          <mat-option *ngFor="let user of supervisors " [value]="user.email">
            {{user.email}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <button type="submit" mat-button>Set Supervisor</button>
    </form>
  </mat-tab>
</mat-tab-group>
