<div class="popup-content">
  <form
    (ngSubmit)="submitAddSkillArea()"
    #registerForm="ngForm"
    #formElement
  >
    <h3>{{'skillAreaComponent.addSkillArea' | translate}}</h3> <br>
    <mat-form-field>
      <input
        type="text"
        autocomplete="off"
        #skillAreaNameElement
        name="skillAreaName"
        matInput
        [(ngModel)]="data.name"
        required
        placeholder="{{'skillAreaComponent.skillAreaNamePlaceholder' | translate}}">
    </mat-form-field>
    <br>
    <br>
    <mat-form-field>
      <textarea

        #descriptionElement
        name="description"
        matInput
        [(ngModel)]="data.description"
        required
        placeholder="{{'skillAreaComponent.descriptionPlaceholder' | translate}}"></textarea>

    </mat-form-field>
    <br>


    <button type="submit" mat-button>{{'skillAreaComponent.submit' | translate}}</button>
  </form>
</div>
