.example-card {
  max-width: 800px;
  margin: 50px auto;
}

.example-header-image {

  background-size: cover;
  margin: 10px 20px;
}

.mat-card-avatar {
  width: 200px;
  height: 200px;
}

.chip-override {
  font-size: 10px;
}

.single-skill {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-between;
  .skill-name {
    font-size: 25px;
    line-height: 40px;
  }
  .delete-skill {
    margin-left: auto;
  }
  .rating {
    margin-left: 50px;
    padding: 4px 0;
  }
}

.accepted {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 20%;
}

.accepted h5 {
  margin: 5px 10px 10px 10px;
}

.mat-list-item {
  margin: 10px;
}
