<mat-card class="login-component">
  <form
    (ngSubmit)="submitForm()"
    #loginForm = "ngForm"
    #formElement
    class="login-form"
        >
    <h1>{{'loginPage.login' | translate}}</h1>
    <mat-form-field appearance="outline" class="username form-field">
      <mat-label>{{'loginPage.email' | translate}}</mat-label>
      <input matInput placeholder="{{'loginPage.emailPlaceholder' | translate}}"
              #emailControl = "ngModel"
              #emailElement
             required
             name="email"
             [(ngModel)] = "userLoginData.email"
      >
      <mat-icon matSuffix color="primary">email</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="password form-field">
      <mat-label>{{'loginPage.password' | translate}}</mat-label>
      <input type="password"
             matInput
             placeholder="{{'loginPage.passwordPlaceholder' | translate}}}"
             #passwordControl = "ngModel"
             #passwordElement
             required
             name="password"
             [(ngModel)] = "userLoginData.password">
      <mat-icon matSuffix color="primary">security</mat-icon>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">{{'loginPage.submit' | translate}}</button>
  </form>
</mat-card>
