.login-component {
  text-align: center;
  .login-form {
    h1 {
      text-align: center;
      font-family: Roboto, "Helvetica Neue", sans-serif;
    }
    display: flex;
    flex-flow: column;
    width: 20%;
    min-width: 280px;
    margin: 0 auto;
  }

}
