<div class="page-content">

  <table [dataSource]="this.profiles" class="mat-elevation-z8" mat-table>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>{{'supervisorView.fullName' | translate}}</th>
      <td *matCellDef="let element" mat-cell>
        <div *ngIf='element.photo!=undefined && element.photo!=""' class="example-header-image" mat-card-avatar>
          <img class="image-profile" mat-card-avatar src={{element.photo}}>
        </div>
        <div *ngIf='element.photo==undefined || element.photo==""' class="example-header-image" mat-card-avatar>

          <img class="image-profile"
               src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcwR4f0cd-y_fwtSP9XPyYMKhlWeJ3QYVxl4LH6JpLomIMgF1w">
        </div>
        {{element.firstName}} {{element.lastName}}</td>
    </ng-container>


    <ng-container matColumnDef="view">
      <th *matHeaderCellDef mat-header-cell> {{'supervisorView.profile' | translate}}</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="showProfile(element)"
                color="primary"
                id="viewProfile"
                mat-raised-button>{{'supervisorView.viewProfile' | translate}}
        </button>
      </td>
    </ng-container>


    <ng-container matColumnDef="status">
      <th *matHeaderCellDef mat-header-cell>{{'supervisorView.status' | translate}}</th>
      <td *matCellDef="let element" mat-cell>
        <i *ngIf="element.isAccepted" class="material-icons" style="color: green">done</i>
        <i *ngIf="!element.isAccepted" class="material-icons" style="color: red">clear</i>

      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th *matHeaderCellDef mat-header-cell> {{'supervisorView.action' | translate}}</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="toggleActivation(element)"
                color="primary"
                id="toggleButton{{element.email}}"
                mat-raised-button>

          {{getActivationButtonText(element.isAccepted)}}
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="export">
      <th *matHeaderCellDef mat-header-cell>{{'supervisorView.export' | translate}}</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="exportPdf(element.email)"

                color="primary"
                mat-raised-button>{{'supervisorView.exportProfileAsPDF' | translate}}
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</div>
