.page-content {
  width: 80%;
  max-width: 1200px;
  margin: 30px auto;

  table {
    width: 100%;
  }
}

.profiles {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  .single-profile {
    width: 46%;
    text-align: center;

    margin: 20px 0;
  }
}

.image-profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}
