<h1 mat-dialog-title>{{'editProfile.projectData' | translate}}</h1>
<div mat-dialog-content style="overflow: inherit">
  <mat-form-field>
    <input matInput [(ngModel)]="data.firstname" placeholder="{{'editProfile.firstNamePlaceholder' | translate}}">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="data.lastname" placeholder="{{'editProfile.lastNamePlaceholder' | translate}}">
  </mat-form-field>
  <br>
  <button mat-button type="button" md-button (click)="imgFileInput.click()">{{'editProfile.addPhoto' | translate}}
  </button>

  <input hidden type="file" #imgFileInput (change)="previewImage($event)"/>
  <br>
  <mat-form-field>
    <mat-select placeholder="{{'editProfile.jobTitlePlaceholder' | translate}}" [(ngModel)]="data.jobTitle">
      <mat-option *ngFor="let title of jobTitles" [value]="title">
        {{title.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select placeholder="{{'editProfile.regionPlaceholder' | translate}}" [(ngModel)]="data.region">
      <mat-option *ngFor="let region of regions" [value]="region">
        {{region.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <div id="chosen_image" width="100px" style="float:right">

  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>{{'editProfile.submit' | translate}}</button>
    <button mat-button (click)="onNoClick()">{{'editProfile.cancel' | translate}}</button>
  </div>
</div>
