<h1 mat-dialog-title>{{'editProfile.projectData' | translate}}</h1>
<div mat-dialog-content style="overflow: inherit">
  <mat-form-field>
    <input matInput [(ngModel)]="data.firstname" placeholder="{{'editProfile.firstNamePlaceholder' | translate}}">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.lastname" placeholder="{{'editProfile.lastNamePlaceholder' | translate}}">
  </mat-form-field>
  <button mat-button type="button" md-button (click)="imgFileInput.click()">{{'editProfile.addPhoto' | translate}}
  </button>
  <input hidden type="file" #imgFileInput (change)="previewImage($event)"/>

  <div id="chosen_image" width="100px" style="float:right">

  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>{{'editProfile.submit' | translate}}</button>
    <button mat-button (click)="onNoClick()">{{'editProfile.cancel' | translate}}</button>
  </div>
</div>
