<h1 mat-dialog-title>Project data</h1>
<div mat-dialog-content style="overflow: inherit">
  <mat-form-field>
    <input matInput [(ngModel)]="data.firstname" placeholder="First Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.lastname" placeholder="Last Name">
  </mat-form-field>
  <button mat-button type="button" md-button (click)="imgFileInput.click()">Add a photo</button>
  <input hidden type="file" #imgFileInput (change)="previewImage($event)"/>

  <mat-form-field>

  </mat-form-field>
  <div id="chosen_image" width="100px" style="float:right">

  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Submit</button>
    <button mat-button (click)="onNoClick()">Cancel</button>
  </div>
</div>
